*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    transition:all 0.35s ease;
}

body{

    background:#050816;

    font-family:Arial,sans-serif;

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

    color:white;

    overflow:hidden;
}

.phone{

    width:370px;

    height:820px;

    background:#091120;

    border-radius:40px;

    padding:25px;

    position:relative;

    overflow:hidden;

    border:1px solid rgba(255,255,255,0.08);

    box-shadow:
    0 0 40px rgba(255,0,0,0.15);

    animation:
    floatPhone 4s ease-in-out infinite;
}

/* FLOAT */

@keyframes floatPhone{

    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-8px);
    }

    100%{
        transform:translateY(0px);
    }
}

/* TOP STATUS */

.top-status{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:10px;
}

.online-status{

    background:#032b1d;

    color:#00ff99;

    padding:10px 18px;

    border-radius:30px;

    font-size:14px;

    font-weight:bold;

    box-shadow:
    0 0 15px rgba(0,255,153,0.4);
}

/* STATUS RIGHT */

.status-right{

    display:flex;

    align-items:center;

    gap:14px;

    font-size:14px;

    font-weight:bold;
}

#liveTime{

    color:white;
}

#batteryLevel{

    color:#00ff99;
}

/* TOAST */

.toast{

    position:absolute;

    top:-100px;

    left:50%;

    transform:translateX(-50%);

    background:
    linear-gradient(
        145deg,
        #111827,
        #1b2435
    );

    color:white;

    padding:14px 24px;

    border-radius:18px;

    font-size:15px;

    font-weight:bold;

    z-index:999;

    opacity:0;

    box-shadow:
    0 0 25px rgba(0,0,0,0.35);
}

/* LOGO */

.logo{

    margin-top:25px;

    font-size:58px;

    font-weight:bold;
}

.logo span{

    color:#ff1a1a;
}

.tagline{

    margin-top:8px;

    color:#aaa;

    font-size:18px;
}

/* CARDS */

.cards{

    margin-top:35px;

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:18px;
}

.card{

    background:#0f1b2d;

    border-radius:25px;

    padding:28px 15px;

    text-align:center;

    font-size:42px;

    border:
    1px solid rgba(255,255,255,0.05);

    cursor:pointer;

    position:relative;

    overflow:hidden;
}

.card:hover{

    transform:
    translateY(-8px)
    scale(1.03);

    box-shadow:
    0 0 25px rgba(255,0,0,0.25);
}

.card p{

    margin-top:15px;

    font-size:16px;

    line-height:1.4;
}

/* SOS BUTTON */

.sos-btn{

    width:160px;

    height:160px;

    border:none;

    border-radius:50%;

    background:
    linear-gradient(
        145deg,
        #ff1a1a,
        #990000
    );

    color:white;

    font-size:46px;

    font-weight:bold;

    margin:12px auto 0;

    display:flex;

    justify-content:center;

    align-items:center;

    cursor:pointer;

    box-shadow:
    0 0 25px rgba(255,0,0,0.8),
    0 0 70px rgba(255,0,0,0.35);

    animation:
    pulse 1.6s infinite;
}

.sos-btn:hover{

    transform:scale(1.05);
}

@keyframes pulse{

    0%{

        box-shadow:
        0 0 25px rgba(255,0,0,0.8),
        0 0 70px rgba(255,0,0,0.35);
    }

    50%{

        box-shadow:
        0 0 40px rgba(255,0,0,1),
        0 0 100px rgba(255,0,0,0.5);
    }

    100%{

        box-shadow:
        0 0 25px rgba(255,0,0,0.8),
        0 0 70px rgba(255,0,0,0.35);
    }
}

/* VOICE BUTTON */

.voice-btn{

    margin:18px auto 0;

    display:block;

    border:none;

    padding:14px 24px;

    border-radius:16px;

    background:
    linear-gradient(
        145deg,
        #2563eb,
        #1d4ed8
    );

    color:white;

    font-size:16px;

    cursor:pointer;

    width:100%;
}

/* FLASH */

.flash-screen{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    height:100%;

    background:red;

    opacity:0;

    z-index:9998;

    pointer-events:none;

    display:none;
}

.flash-active{

    animation:
    flashAlert 0.35s infinite;
}

@keyframes flashAlert{

    0%{
        opacity:0;
    }

    50%{
        opacity:0.25;
    }

    100%{
        opacity:0;
    }
}

/* POPUP OVERLAY */

.popup-overlay{

    position:absolute;

    top:0;

    left:0;

    width:100%;

    height:100%;

    background:
    rgba(0,0,0,0.72);

    display:none;

    justify-content:center;

    align-items:center;

    z-index:20;
}

/* POPUPS */

.popup,
.firstaid-popup,
.vehicle-popup,
.police-popup,
.ambulance-popup,
.settings-popup,
.nearby-popup{

    width:85%;

    background:#111827;

    padding:30px 20px;

    border-radius:25px;

    position:absolute;

    top:50%;

    left:50%;

    transform:translate(-50%,-50%);

    z-index:30;

    display:none;

    animation:
    popupAnimation 0.4s ease;

    box-shadow:
    0 0 30px rgba(0,0,0,0.4);
}

/* FIXED POPUP */

.popup{

    position:relative;

    transform:none;

    top:auto;

    left:auto;

    width:100%;
}

@keyframes popupAnimation{

    from{

        opacity:0;

        transform:
        translate(-50%,-45%)
        scale(0.9);
    }

    to{

        opacity:1;

        transform:
        translate(-50%,-50%)
        scale(1);
    }
}

.popup h2,
.firstaid-popup h2,
.vehicle-popup h2,
.police-popup h2,
.ambulance-popup h2,
.settings-popup h2,
.nearby-popup h2{

    text-align:center;

    margin-bottom:20px;

    color:#ff4d4d;
}

/* ITEMS */

.contact-card,
.aid-tip,
.vehicle-tip,
.police-tip,
.ambulance-tip,
.setting-item{

    background:#1c2740;

    padding:14px;

    border-radius:15px;

    margin-top:12px;

    line-height:1.6;
}

/* CALL POPUP LINKS */

.nearby-popup a{

    text-decoration:none;
}

/* CALL BUTTONS */

.nearby-popup button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:14px;

    margin-top:14px;

    background:
    linear-gradient(
        145deg,
        #1f2937,
        #111827
    );

    color:white;

    font-size:15px;

    cursor:pointer;
}

.nearby-popup button:hover{

    transform:scale(1.03);

    background:
    linear-gradient(
        145deg,
        #374151,
        #1f2937
    );
}

/* SETTINGS INPUT */

.setting-item input{

    width:100%;

    padding:12px;

    border:none;

    border-radius:12px;

    outline:none;

    margin-top:12px;

    margin-bottom:12px;

    background:#2d3436;

    color:white;
}

/* BUTTONS */

.popup button,
.firstaid-popup button,
.vehicle-popup button,
.police-popup button,
.ambulance-popup button,
.settings-popup button{

    margin-top:20px;

    width:100%;

    padding:14px;

    border:none;

    border-radius:15px;

    color:white;

    cursor:pointer;

    font-size:15px;
}

.popup button{
    background:#ff2b2b;
}

.firstaid-popup button{
    background:#00b894;
}

.vehicle-popup button{
    background:#ff9f1a;
}

.police-popup button{
    background:#1e90ff;
}

.ambulance-popup button{
    background:#ff4757;
}

.settings-popup button{
    background:#6c5ce7;
}

/* LOCATION */

#locationText{

    margin-top:15px;

    margin-bottom:18px;

    color:#00ffd0;

    background:
    rgba(255,255,255,0.03);

    padding:12px;

    border-radius:14px;
}

#mapFrame{

    width:100%;

    height:220px;

    border:none;

    border-radius:20px;

    margin-bottom:20px;
}

/* BOTTOM NAV */

.bottom-nav{

    position:absolute;

    bottom:0;

    left:0;

    width:100%;

    height:95px;

    background:#0c1626;

    display:flex;

    justify-content:space-around;

    align-items:center;

    border-top:
    1px solid rgba(255,255,255,0.05);
}

.nav-item{

    text-align:center;

    color:#888;

    cursor:pointer;
}

.nav-item p{

    margin-top:4px;

    font-size:13px;
}

.active{

    color:red;
}

/* LOADING SCREEN */

.loading-screen{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    height:100%;

    background:
    linear-gradient(
        180deg,
        #050816,
        #091120
    );

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    z-index:9999;

    transition:opacity 0.5s ease;
}

.loading-screen h1{

    font-size:58px;

    margin-top:30px;
}

.loading-screen p{

    color:#aaa;

    margin-top:10px;
}

.loader-circle{

    width:150px;

    height:150px;

    border-radius:50%;

    background:
    linear-gradient(
        145deg,
        #ff1a1a,
        #990000
    );

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:64px;

    animation:
    loaderPulse 1.5s infinite;
}

@keyframes loaderPulse{

    0%{
        transform:scale(1);
    }

    50%{
        transform:scale(1.08);
    }

    100%{
        transform:scale(1);
    }
}

/* SHAKE */

.shake{

    animation:shakeAnim 0.4s;
}

@keyframes shakeAnim{

    0%{
        transform:translateX(0);
    }

    25%{
        transform:translateX(-5px);
    }

    50%{
        transform:translateX(5px);
    }

    75%{
        transform:translateX(-5px);
    }

    100%{
        transform:translateX(0);
    }
}