*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    transition:all 0.3s ease;
}

body{

    background:#050816;

    font-family:Arial,sans-serif;

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

    overflow:hidden;

    color:white;

    padding:12px;
}

/* PHONE */

.phone{

    width:370px;

    height:95vh;

    max-height:820px;

    background:#091120;

    border-radius:40px;

    padding:22px;

    position:relative;

    overflow:hidden;

    border:1px solid rgba(255,255,255,0.06);

    box-shadow:
    0 0 45px rgba(255,0,0,0.12);

    display:flex;

    flex-direction:column;
}

/* STATUS BAR */

.top-status{

    display:flex;

    justify-content:space-between;

    align-items:center;
}

.online-status{

    background:#032b1d;

    color:#00ff99;

    padding:10px 18px;

    border-radius:30px;

    font-size:14px;

    font-weight:bold;

    box-shadow:
    0 0 20px rgba(0,255,153,0.25);
}

.status-right{

    display:flex;

    align-items:center;

    gap:14px;

    font-size:14px;

    font-weight:bold;
}

/* LOGO */

.logo{

    margin-top:28px;

    font-size:60px;

    font-weight:bold;

    line-height:1;
}

.logo span{

    color:#ff1a1a;
}

.tagline{

    margin-top:12px;

    color:#8f96a3;

    font-size:18px;
}

/* CARDS */

.cards{

    margin-top:34px;

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:18px;
}

.card{

    background:#101a2b;

    border-radius:28px;

    padding:30px 15px;

    text-align:center;

    cursor:pointer;

    border:
    1px solid rgba(255,255,255,0.04);

    font-size:42px;

    min-height:180px;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;
}

.card:hover{

    transform:
    translateY(-6px)
    scale(1.02);

    box-shadow:
    0 0 30px rgba(255,0,0,0.15);
}

.card p{

    margin-top:18px;

    font-size:16px;

    line-height:1.4;
}

/* SOS BUTTON */

.sos-btn{

    width:165px;

    height:165px;

    border:none;

    border-radius:50%;

    background:
    linear-gradient(
        145deg,
        #ff1a1a,
        #a10000
    );

    color:white;

    font-size:52px;

    font-weight:bold;

    cursor:pointer;

    margin:28px auto 16px;

    display:flex;

    justify-content:center;

    align-items:center;

    position:relative;

    z-index:5;

    box-shadow:
    0 0 30px rgba(255,0,0,0.8),
    0 0 80px rgba(255,0,0,0.35);

    animation:
    pulse 1.7s infinite;
}

.sos-btn:hover{

    transform:scale(1.04);
}

/* PULSE */

@keyframes pulse{

    0%{

        box-shadow:
        0 0 25px rgba(255,0,0,0.75),
        0 0 70px rgba(255,0,0,0.25);
    }

    50%{

        box-shadow:
        0 0 45px rgba(255,0,0,1),
        0 0 110px rgba(255,0,0,0.45);
    }

    100%{

        box-shadow:
        0 0 25px rgba(255,0,0,0.75),
        0 0 70px rgba(255,0,0,0.25);
    }
}

/* VOICE BUTTON */

.voice-btn{

    width:100%;

    border:none;

    padding:15px;

    border-radius:18px;

    background:
    linear-gradient(
        145deg,
        #2563eb,
        #1d4ed8
    );

    color:white;

    font-size:16px;

    cursor:pointer;

    margin-bottom:105px;
}

/* POPUP OVERLAY */

.popup-overlay{

    position:absolute;

    inset:0;

    background:
    rgba(0,0,0,0.45);

    backdrop-filter:blur(8px);

    display:none;

    justify-content:center;

    align-items:center;

    z-index:999;

    animation:
    overlayFade 0.35s ease;
}

/* OVERLAY FADE */

@keyframes overlayFade{

    from{

        opacity:0;
    }

    to{

        opacity:1;
    }
}

/* NORMAL POPUPS */

.firstaid-popup,
.vehicle-popup,
.police-popup,
.ambulance-popup,
.settings-popup,
.nearby-popup{

    width:88%;

    background:#111827;

    border-radius:28px;

    padding:28px 20px;

    position:absolute;

    top:50%;

    left:50%;

    transform:translate(-50%,-50%);

    z-index:1000;

    display:none;

    animation:popupAnim 0.35s ease;

    box-shadow:
    0 0 40px rgba(0,0,0,0.45);
}

/* PREMIUM SOS POPUP */

.popup{

    width:88%;

    background:
    linear-gradient(
        145deg,
        #111827,
        #1b2435
    );

    border-radius:28px;

    padding:28px 22px;

    position:absolute;

    top:50%;

    left:50%;

    transform:translate(-50%,-50%);

    z-index:1000;

    display:none;

    box-shadow:
    0 0 40px rgba(255,0,0,0.25);

    border:
    1px solid rgba(255,255,255,0.06);

    animation:
    sosPopupAnim 0.45s ease;
}

/* SOS POPUP ANIMATION */

@keyframes sosPopupAnim{

    0%{

        opacity:0;

        transform:
        translate(-50%,-50%)
        scale(0.7);
    }

    60%{

        opacity:1;

        transform:
        translate(-50%,-50%)
        scale(1.04);
    }

    100%{

        transform:
        translate(-50%,-50%)
        scale(1);
    }
}

/* NORMAL POPUP */

@keyframes popupAnim{

    from{

        opacity:0;

        transform:
        translate(-50%,-46%)
        scale(0.92);
    }

    to{

        opacity:1;

        transform:
        translate(-50%,-50%)
        scale(1);
    }
}

/* HEADINGS */

.popup h2,
.firstaid-popup h2,
.vehicle-popup h2,
.police-popup h2,
.ambulance-popup h2,
.settings-popup h2,
.nearby-popup h2{

    text-align:center;

    margin-bottom:20px;

    color:#ff4d4d;
}

/* INFO BOXES */

.contact-card,
.aid-tip,
.vehicle-tip,
.police-tip,
.ambulance-tip,
.setting-item{

    background:#1a2740;

    padding:14px;

    border-radius:16px;

    margin-top:12px;

    line-height:1.6;
}

/* INPUT */

.setting-item input{

    width:100%;

    padding:12px;

    border:none;

    border-radius:12px;

    margin-top:12px;

    margin-bottom:12px;

    outline:none;

    background:#2c3447;

    color:white;
}

/* BUTTONS */

.popup button,
.firstaid-popup button,
.vehicle-popup button,
.police-popup button,
.ambulance-popup button,
.settings-popup button,
.nearby-popup button{

    width:100%;

    border:none;

    padding:14px;

    border-radius:15px;

    color:white;

    font-size:15px;

    cursor:pointer;

    margin-top:18px;
}

.popup button{
    background:#ff2b2b;
}

.firstaid-popup button{
    background:#00b894;
}

.vehicle-popup button{
    background:#ff9f1a;
}

.police-popup button{
    background:#1e90ff;
}

.ambulance-popup button{
    background:#ff4757;
}

.settings-popup button{
    background:#6c5ce7;
}

.nearby-popup button{
    background:#111827;
}

/* MAP */

#locationText{

    margin-top:16px;

    margin-bottom:16px;

    padding:12px;

    border-radius:14px;

    background:
    rgba(255,255,255,0.03);

    color:#00ffd0;
}

#mapFrame{

    width:100%;

    height:220px;

    border:none;

    border-radius:20px;

    margin-bottom:16px;
}

/* BOTTOM NAV */

.bottom-nav{

    position:absolute;

    bottom:0;

    left:0;

    width:100%;

    height:92px;

    background:#0c1626;

    display:flex;

    justify-content:space-around;

    align-items:center;

    border-top:
    1px solid rgba(255,255,255,0.05);

    z-index:50;
}

.nav-item{

    text-align:center;

    color:#8a8f9b;

    cursor:pointer;

    font-size:24px;
}

.nav-item p{

    font-size:13px;

    margin-top:5px;
}

.active{

    color:#ff2b2b;
}

/* TOAST */

.toast{

    position:absolute;

    top:-100px;

    left:50%;

    transform:translateX(-50%);

    background:#111827;

    color:white;

    padding:14px 24px;

    border-radius:18px;

    z-index:9999;

    opacity:0;
}

/* FLASH */

.flash-screen{

    position:fixed;

    inset:0;

    background:red;

    opacity:0;

    display:none;

    z-index:9998;

    pointer-events:none;
}

.flash-active{

    animation:
    flashAnim 0.6s ease-in-out infinite;
}

@keyframes flashAnim{

    0%{
        opacity:0;
    }

    50%{
        opacity:0.12;
    }

    100%{
        opacity:0;
    }
}

/* SHAKE */

.shake{

    animation:
    shakeAnim 0.5s ease;
}

@keyframes shakeAnim{

    0%{
        transform:translateX(0);
    }

    20%{
        transform:translateX(-4px);
    }

    40%{
        transform:translateX(4px);
    }

    60%{
        transform:translateX(-3px);
    }

    80%{
        transform:translateX(3px);
    }

    100%{
        transform:translateX(0);
    }
}

/* LOADING */

.loading-screen{

    position:fixed;

    inset:0;

    background:
    linear-gradient(
        180deg,
        #050816,
        #091120
    );

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    z-index:99999;

    transition:opacity 0.5s ease;
}

.loader-circle{

    width:150px;

    height:150px;

    border-radius:50%;

    background:
    linear-gradient(
        145deg,
        #ff1a1a,
        #990000
    );

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:64px;

    animation:loaderPulse 1.5s infinite;
}

.loading-screen h1{

    font-size:58px;

    margin-top:28px;
}

.loading-screen p{

    margin-top:10px;

    color:#aaa;
}

@keyframes loaderPulse{

    0%{
        transform:scale(1);
    }

    50%{
        transform:scale(1.08);
    }

    100%{
        transform:scale(1);
    }
}

/* RESPONSIVE */

@media(max-width:480px){

    body{

        padding:0;
    }

    .phone{

        width:100%;

        height:100vh;

        max-height:none;

        border-radius:0;
    }

    .logo{

        font-size:50px;
    }

    .card{

        min-height:165px;

        font-size:36px;
    }

    .sos-btn{

        width:145px;

        height:145px;

        font-size:44px;
    }
}